.nav {
    margin: 0;
    padding: 0;
    display: flex;
    height: 150px;
    background-color:#E0F1E9 ;
    border-radius: 15px;
}


.barra {
    margin: 0;
    display: flex;
    width: 800px;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
}

.lista {
    list-style-type: none;
    font-size: 20px;
    font-family: 'Fredericka the Great';
    color:#646cff ;
    text-decoration: none;
}

.lista:hover {
    color:#5cce3a;
    cursor: pointer;
}

.lista a {
    text-decoration: none;
}
